hr {
  border: 2px solid #000000;
}

nav {
  background-color: #FFEA29;
  box-sizing: border-box;
}

nav section {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav h1 img {
  width: min(90vw, 500px);
}

nav .linkWrapper a {
  width: max(25%, 250px);
  border-bottom-width: 4px;
}

section ul {
  margin-top: 2rem;
  gap: 1rem;
}

li {
  padding: 5px 25px;
  border-radius: 50px;
}

.workImageOuterWrapper {
  width: 100%;
  background: #FFEA29;
  padding: 50px 75px;
}

.workImageWrapper {
  width: 100%;
  max-width: 1300px;
  aspect-ratio: 16 / 10;
  border: 2vw solid #000000;
  border-radius: 2vw;
  overflow-y: scroll;
  margin: 0 auto;
  }

.workImage {
  width: 100%;
  max-width: 1300px;
  height: fit-content;
}

@media (max-width: 600px) {
  .workImageOuterWrapper {
    padding: 40px 60px;
  }

  .workImageWrapper {
    aspect-ratio: 4 / 3;
    border: none;
    border-radius: 0;
    }
}

