hr {
  border: 2px solid #000000;
}

nav {
  background-color: #FFEA29;
  box-sizing: border-box;
}

nav section {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav h1 img {
  width: min(90vw, 500px);
}

nav .linkWrapper a {
  width: max(25%, 250px);
  border-bottom-width: 4px;
}

section ul {
  margin-top: 2rem;
  gap: 1rem;
}

li {
  padding: 5px 25px;
  border-radius: 50px;
}

.workImageWrapper {
  width: 100vw;
  border: 30px solid #00000050;
  overflow-x: scroll;
  }

.workImage {
  border: 60px solid #00000075;
  width: 3000px;
  background: url("images/partnerships.png"), gray;
  background-size: cover;
  background-position: 0% 50%;
  height: 800px;
  max-height:  90vh;
  background-repeat: no-repeat;
  border-top-color:#000000;
  border-bottom-color:#000000;
}

@media (max-width: 600px) {
  .workImageWrapper {
    border-width: 20px;
    }
  
  .workImage {
    border-width: 40px;
  }
}
